/* fonts */
@font-face {
  font-family: "Swansea";
  src: url(../assets/fonts/Swansea/SWANSE__.TTF);
}

@font-face {
  font-family: "Swansea";
  font-weight: bold;
  src: url(../assets/fonts/Swansea/SWANSE_B.TTF);
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth;
}

body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../assets/images/idk.png");
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p, h1, h2, h3, h4, h5 {
  color: white;
}

p.small {
  font-size: 0.75rem;
}

/* reset padding */
* {
  margin: 0;
  padding: 0;
  font-family: "Swansea" !important;
}

/* animations */
/* fade animation */
.fadeIn {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* highlight animation */
@-webkit-keyframes highlight {
  from {
    background-size: 0% 100%;
    background-position: 0% 100%;
  }
  to {
    background-size: 100% 100%;
    background-position: 0% 0%;
  }
}
@keyframes highlight {
  from {
    background-size: 0% 100%;
    background-position: 0% 100%;
  }
  to {
    background-size: 100% 100%;
    background-position: 0% 0%;
  }
}

span.highlighted {
  display: inline-block;
  padding: 2px 6px;
  background: linear-gradient(135deg, #e052a0, #f15d40);
  background-repeat: no-repeat;
  -webkit-animation: highlight 0.75s;
          animation: highlight 0.75s;
  color: white;
}

/* ease in out animation */
.animated {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* slide animation */
@-webkit-keyframes slide {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-1692px, 0, 0);
            transform: translate3d(-1692px, 0, 0);
  }
}
@keyframes slide {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-1692px, 0, 0);
            transform: translate3d(-1692px, 0, 0);
  }
}

/* helper classes */
.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* beautiful buttons :) */
.button {
  display: inline-block;
  color: white;
  font-family: serif;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 3px;
  padding-right: 3px;
  background: linear-gradient(135deg, #e052a0, #f15d40);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  -webkit-transition: background-size .25s, background-position .15s ease-in .25s;
  transition: background-size .25s, background-position .15s ease-in .25s;
}

.button:hover {
  color: white;
  background-size: 100% 100%;
  background-position: 0% 0%;
  -webkit-transition: background-position .25s, background-size .15s ease-in .25s;
  transition: background-position .25s, background-size .15s ease-in .25s;
  text-decoration: none;
}

/* page breaks */
.page-break {
  width: 100%;
}

.page-break.gradient {
  background: linear-gradient(135deg, #e052a0, #f15d40);
  height: 5px;
}

.page-break.gray {
  background: #242424;
  height: 1px;
}

/* MOBILE */
/* about me & project boxes */
.things-container {
  padding: 30px 0px;
}

.things-container img {
  width: 100%;
  border-radius: 5px;
}

.things-container #stufflist ul {
  padding: 0;
  list-style: none;
}

.things-container #stufflist p {
  font-size: 0.9rem;
}

.things-container #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.things-container #buttons #resumebutton {
  margin-right: 10px;
}

/* experience */
#parthean {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../assets/images/parthean_color.png");
  background: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../assets/images/parthean_color.png");
  background-position: center;
}

#moonranger {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../assets/images/moonranger.jpg");
  background: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../assets/images/moonranger.jpg");
  background-position: center;
}

#impactiv {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../assets/images/impactiv_low.png");
  background: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../assets/images/impactiv_low.png");
  background-position: top;
}

#philanthropy {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../assets/images/philanthropy.jpg");
  background: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../assets/images/philanthropy.jpg");
  background-position: center;
}

#skisnowboard {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../assets/images/merch.png");
  background: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../assets/images/merch.png");
  background-position: center;
}

#industry {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../assets/images/industry.jpg");
  background: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../assets/images/industry.jpg");
  background-position: center;
}

#scoops {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../assets/images/icecream.jpg");
  background: linear-gradient(rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../assets/images/icecream.jpg");
  background-position: center;
}

.experience {
  overflow: hidden;
  position: relative;
  background: #0f0f0f;
}

.experience .sliding-background {
  opacity: 0;
  height: 300px;
  width: 5076px;
  -webkit-animation: slide 60s linear infinite;
          animation: slide 60s linear infinite;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.experience .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.experience:hover .header {
  display: inline-block;
  padding: 2px 6px;
  background: linear-gradient(135deg, #e052a0, #f15d40);
  background-repeat: no-repeat;
  -webkit-animation: highlight 0.75s;
          animation: highlight 0.75s;
}

.experience:hover .sliding-background {
  opacity: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  padding: 0 50px;
}

.footer #back {
  margin-right: 20px;
}

.video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-box video {
  width: 75%;
}

/* DESKTOP */
